.cartCard {
  display: flex;
  justify-content: space-between;
  border: none;
}

.sliderContainer {
  position: relative;
  height: 190px;
  width: 121px;
  margin: 6%;
  align-self: center;
  justify-self: center;
}

.cartRight {
  display: flex;
  margin: 2%;
}