.cartContainer {
    position: absolute;
    overflow: scroll;
    z-index: 5;
    right: 7%;
    width: auto;
    min-width: 325px;
    min-height: auto;
    max-height: 60%;
    background-color: #ffff;
    padding: 1%;
}

.vievBagBtn {
    cursor: pointer;
    font-family: 'Raleway';
    margin: 3%;
    min-height: 43px;
    width: 100%;
    background: #ffff;
    border: 1px solid #1D1F22;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1D1F22;
}

