.inCart {
  color: #ffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: 10%;
  top: 20%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  border: 3px solid #000;
  text-align: center;
}

.currency {
  display: inline;
}