.cartCard {
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #ffff;
}

.sliderContainer {
  position: relative;
  height: 288px;
  max-width: 200px;
  margin: 6%;
}

.quantityChanger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartRight {
  display: flex;
  margin: 2%;
}

.changeQuantityBtn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid #1D1F22;
  background-color: #ffff;
  font-style: normal;
  font-size: 100%;
}

.productQuantity {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.brandName {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.productName {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.productPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.attributeName {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.colorBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 8px;
}

.colorsBtn {
  border: none;
  width: 32px;
  height: 32px;
}

.colorsSelectedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5ECE7B;
  padding: 2px;
  margin: 8px;
  width: 32px;
  height: 32px;
}

.selectedBtn {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 8px;
  border: none;
  width: 63px;
  height: 45px;
  background-color: #1D1F22;
  color: #ffff;
}

.attributeBtn {
  object-fit: contain;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 8px;
  background-color: #ffff;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
}