.cartCard {
  display: flex;
  justify-content: space-between;
  border: none;
}

.sliderContainer {
  position: relative;
  height: 190px;
  max-width: 121px;
  margin: 6%;
}

.quantityChanger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cartRight {
  display: flex;
  margin: 2%;
}

.changeQuantityBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #1D1F22;
  background-color: #ffff;
  font-style: normal;
  font-size: 100%;
}

.productQuantity {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.brandName {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.productName {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.productPrice {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.attributeName {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.colorBtnContainer {
  padding: 2px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorsBtn {
  border: none;
  width: 16px;
  height: 16px;
}

.colorsSelectedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5ECE7B;
  padding: 1px;
  margin: 8px;
  width: 16px;
  height: 16px;
}

.selectedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  height: 24px;
  background-color: #1D1F22;
  color: #ffff;
  margin: 4px;
}

.attributeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffff;
  height: 24px;
  border: 1px solid #1D1F22;
}

.infoContainer {
  width: 140px;
}

.attributesContainer {
  display: flex;
  flex-wrap: wrap;
}

.colorsContainer {
  display: flex;
}