.productDisplayContainer {
  margin-top: 6%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}

.addToCartContainer {
  height: 52px;
  width: 100%;
}