.productCart {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #E5E5E5;

}

.cartPageContainer {
    font-weight: 700;
    font-style: bold;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    font-size:30px;
    min-height: 702px;
}

.orderBtn {
    cursor: pointer;
    margin: 20px;
    width: 279px;
    height: 43px;
    border: none;
    background-color: #5ECE7B;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #ffff;
}



.cartPageName{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}