.sliderImg{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.arrows {
    display: flex;
    cursor: pointer;
    position: absolute; 
    bottom: 0%;
    right: 0%;
    z-index: 1;
}

.slierItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    justify-self: start;
    margin: 3%;
}

.arrow{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.73);
    margin: 5%;
    padding-top: 10%;
}

.sliderImgHidden{
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: none;
}



