.dropsContainer{
    margin-right: 7%;
    display: flex;
}

.logo{
    flex:0 0 10px
}

.App{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: #8D8F9A;
}