.dropsContainer{
    margin-right: 7%;
    display: flex;
}

.logo{
    flex:0 0 10px
}

.App{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: #8D8F9A;
}

 .dropdownBackgroundGrey {
  height: 100vh;
  width: 100vw;
  background-color: rgba(57, 55, 72, 0.22);
  position: fixed;
  left: 0;
  top:0;
  z-index: 1;
}

body{
    margin: 0;
    padding: 0;
}